<!--add customized code between this region-->
<!--add customized code between this region-->
@model MyTest311.Web.Models.ClassAModel

<script src='@this.Url.Content("~/js/modal.js")'></script>
<script src='@this.Url.Content("~/js/editCollection.js")'></script>

<div class="t_title">
    <span class="span_title">ClassAItem</span>
    <span class="m_btn" onclick="editClassAItem.addItem()" title="Add" style="float:right">New</span>
</div>

<table class="table table-striped table-bordered table-hover table_form" id="ClassAItem" >
    <thead>
        <tr>
	<th class="text-left">Name</th>
	<th class="text-left">Description</th>
	<th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.ClassAItem != null && Model.ClassAItem.Count > 0)
    {
        for (int i = 0; i < Model.ClassAItem.Count; i++)
        {
           <tr class="data_tr">
                <td class="text-left">
                    @Html.TextBoxFor(p => Model.ClassAItem[i].Name, new { @class = "readonly", @readonly = "readonly" })
                </td>
                <td class="text-left">
                    @Html.TextBoxFor(p => Model.ClassAItem[i].Description, new { @class = "readonly", @readonly = "readonly" })
                </td>
                <td class="center">
                    @Html.ActionLink(" ", "#", "#", null, new { href = "javascript:void(0);", @class = "m_edit", title = "Edit", onclick = "editClassAItem.editItem(this)" })
                    @Html.ActionLink(" ", "#", "#", null, new { href = "javascript:void(0);", @class = "m_delete", title = "Delete", onclick = "editClassAItem.removeItem(this)" })
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<script type="text/html" id="classAItemTemplate">
    <tr class="data_tr">
                <td class="text-left">
                @Html.TextBox("ClassAItem[{}].Name", null, new {id = "ClassAItem_{}__Name",@class = "readonly", @readonly = "readonly" })
            </td>
                <td class="text-left">
                @Html.TextBox("ClassAItem[{}].Description", null, new {id = "ClassAItem_{}__Description",@class = "readonly", @readonly = "readonly" })
            </td>
            <td class="center">
                @Html.ActionLink(" ", "#", "#", null, new { href = "javascript:void(0);", @class = "m_edit", title = "Edit", onclick = "editClassAItem.editItem(this)" })
                @Html.ActionLink(" ", "#", "#", null, new { href = "javascript:void(0);", @class = "m_delete", title = "Delete", onclick = "editClassAItem.removeItem(this)" })
            </td>
    </tr>
</script>

<div class="mask" id="editClassAItem">
    <div class="product_catalog">
        <div class="title">
            <button type="button" class="close" onclick="editClassAItem.cancelItem()" style="right: 1%;">&times;</button>
            <h4 style="width: 100%; margin: 0px">ClassAItem</h4>
        </div>
        <div class="border_line modal_scroll" id="editClassAItemContent">
             @Html.Partial("_EditOneClassAItem", Model)
        </div>
    </div>
</div>

<script>
    var editClassAItem = new MetaShare.EditCollection("ClassAItem", "classAItemTemplate", "editClassAItem", "ClassAItem", "EditOneClassAItem");
</script>
