@using MyTest311.Web.HtmlExtensions
<!--add customized code between this region-->
<!--add customized code between this region-->
@model MyTest311.Web.Models.ClassAModel

@{
    ViewBag.Title = "Edit";
    Layout  = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_title_box">
    <ol>
        <li data-id="ClassA">
            <a href="#">ClassA</a><i class="icon-arrowright"></i>
        </li>
        <li data-id="Edit">Edit</li>
    </ol>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.OwnerId)
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="Name"  class="col-md-4 from-title" >Name</label>
						<div class="col-md-8 from-cont">
							@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Name)
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="Description"  class="col-md-4 from-title" >Description</label>
						<div class="col-md-8 from-cont">
							@Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Description)
						</div>
					</div>
				</div>
			</div><div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="Description2"  class="col-md-4 from-title" >Description2</label>
						<div class="col-md-8 from-cont">
							@Html.TextBoxFor(model => model.Description2, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Description2)
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="AEType"  class="col-md-4 from-title" >AEType</label>
						<div class="col-md-8 from-cont">
							@Html.DropDownListUtilityFor(p => Model.AEType, new SelectList(Model.AETypes, "Value", "Text", Model.AEType), new SelectListItem { Text = "Please Select", Value = "0" }, new { @class = "form-control" })
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="ClassB"  class="col-md-4 from-title" >ClassB</label>
						<div class="col-md-8 from-cont">
							@Html.DropDownListUtilityFor(p => Model.ClassB.Id, new SelectList(Model.ClassBs, "Id", "Name", Model.ClassB !=null? (object) Model.ClassB.Id:null),new SelectListItem{Text = "Please Select",Value = "0"}, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.ClassB.Id)
						</div>
					</div>
				</div>
			</div>
            @Html.Partial("_EditClassAItem", Model)
            <div class="width_10 text-center m_left">
                <input class="m_btn m_back" type="submit" value="Save" />
                @Html.ActionLink("Cancel", "Index", null, new {@class="m_btn m_back"})
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document)
            .ready(function() {
/*add customized code between this region*/
/*add customized code between this region*/
        });
    </script>
}

